<aside class="sidebar">
    <div class="sidebar-header">
        <h3>Admin</h3>
    </div>
    <ul class="menu">
        <li><a href="/"><i class="fas fa-home"></i> Trang Chủ</a></li> <!-- Thêm mục Trang Chủ -->
        <li><a href="/admin/rooms"><i class="fas fa-bed"></i> Quản lý Phòng</a></li>
        <li><a href="/admin/room-types"><i class="fas fa-th-list"></i> Quản lý Loại Phòng</a></li>
        <!-- <li><a href="/admin/users"><i class="fas fa-users"></i> Quản lý Người Dùng</a></li> -->
        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a></li>
    </ul>
</aside>